@import "variables";
@import "mixins";

.balance-box {
    background-color: $primary-white;
    border-radius: 16px;
    padding: 24px;
    height: 132px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 8px;    
}