
<div class="add-advertiser-container">
    <div class="add-advertiser-header">
        <h2>Add Advertiser</h2>
        <p>Fill out the asked details to add ne w advertiser.</p>
    </div>
    <form [formGroup]="advertiserForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="brandName">Brand Name</label>
          <input id="brandName" type="text" formControlName="brandName" placeholder="Enter brand name">
          <div *ngIf="advertiserForm.get('brandName')?.invalid && advertiserForm.get('brandName')?.touched">
            <small class="error">Brand Name is required.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="advertiserName">Advertiser Name</label>
          <input id="advertiserName" type="text" formControlName="advertiserName" placeholder="Enter advertiser name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" placeholder="Enter email">
          <div *ngIf="advertiserForm.get('email')?.invalid && advertiserForm.get('email')?.touched">
            <small class="error">Email is required.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" type="text" formControlName="phoneNumber" placeholder="Enter phone number">
          <div *ngIf="advertiserForm.get('phoneNumber')?.invalid && advertiserForm.get('phoneNumber')?.touched">
            <small class="error">Phone number is required.</small>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="location">Location</label>
          <input id="location" type="text" formControlName="location" placeholder="Enter location">
        </div>
      </div>
      <div class="form-buttons">
        <button class="hadsup-btn hadsup-primary-dark" type="submit" [disabled]="advertiserForm.invalid">Save Advertiser Details</button>
      <button class="hadsup-btn hadsup-primary-default" type="button" (click)="onDiscard()">Discard</button>
      </div>
    </form>
  </div>
  